@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text&display=swap');

.cart-title {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: 140px;
    color: #2E2E30
}

.go-to-shop-button {
    border: none;
}