.music-title {
    font-size: 140px;
    color: #2E2E30;
    font-family: 'Libre Barcode 39 Extended Text', cursive;
}

.music-blocks-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.artist-music-tile {
    display: flex;
    flex-direction: column;
}

.discography-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-music-tile-name {
    width: 100vw;
    font-size: 100px;
    color: #2E2E30;
    font-family: 'Notable', sans-serif;
}

.album-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    height: 450px;
    width: 400px;
    margin: 20px;
}

.album-artwork {
    height: 400px;
    width: 400px;
    margin-top: 10px;
}

.album-title {
    font-size: 24px;
}

.album-price {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}