//families

$defaultFont: sans-serif;
$barcodeFont: 'Libre Barcode 39 Extended Text', cursive;
$headerFont: 'Notable', sans-serif;
$loginFont: 'Lalezar', cursive;
$artistTileFont: 'Noto Sans KR', sans-serif;

//sizes

$extraLargeFontSize: 140px;
$largeFontSize: 100px;
$mediumFontSize: 40px;
$smallFontSize: 24px;
$extraSmallFontSize: 18px;