@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

.header-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    background: #2E2E30;
}

.nav-bar {
    height: 40px;
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.go-to-music-button {
    height: 40px;
    font-size: 30px;
    color: white;
    background: #2E2E30;
    border: none;
    font-family: 'Notable', sans-serif;
}

.go-to-music-button:hover {
    color: rgb(0, 255, 157);
    cursor: pointer;
}

.go-to-artists-button {
    height: 40px;
    font-size: 30px;
    color: white;
    background: #2E2E30;
    border: none;
    font-family: 'Notable', sans-serif;
}

.go-to-artists-button:hover {
    color: rgb(0, 255, 157);
    cursor: pointer;
}

.go-to-merch-button {
    height: 40px;
    font-size: 30px;
    color: white;
    background: #2E2E30;
    border: none;
    font-family: 'Notable', sans-serif;
}

.go-to-merch-button:hover {
    color: rgb(0, 255, 157);
    cursor: pointer;
}

.gravity-dome-header-title {
    height: 40px;
    font-size: 40px;
    color: white;
    background: #2E2E30;
    border: none;
    font-family: 'Notable', sans-serif;
    margin-left: -20px;
}

.gravity-dome-header-title:hover {
    color: rgb(0, 255, 157);
    cursor: pointer;
}

.header-login {
    margin: 12px 0 0 20px;
    font-size: 24px;
    color: white;
    font-family: 'Lalezar', cursive;
    cursor: pointer;
}

.header-login:hover {
    color: rgb(0, 255, 157);
}

button:focus {outline:0;}